# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Crappahilation.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\JumpAttacker\source\repos\Crappahilation\.idea\.idea.Crappahilation\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
